.bg-pattern {
  background: url(./images/home/desktop/pattern-circles.svg) no-repeat;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #d87d4a;
}

.mid-bg-2 {
  background: url(./images/home/desktop/image-speaker-zx7.jpg);
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.menu-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 19px;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  width: 1.5rem;
  height: 2px;
  background-color: white;
  transform: rotate(0);
  transition: all 0.45s ease;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  transition: all 0.25s;
  transform: translateX(-0.5rem);
  opacity: 0;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(-6px) translate(6px);
}

.menu-slider {
  animation: Slide_Down 1.1s ease;
}
@keyframes Slide_Down {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menu-close {
  display: none;
}

/* 
@keyframes Slide_Up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100%);
  }
} */

/* Loading Spinner */

.animate-ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: circleColor 2s linear infinite;
}
@keyframes circleColor {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
}
.animate-ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loading-text {
  font-family: "Montserrat", sans-serif;
  color: rgba(216, 125, 74, 1);
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: textColor 2s ease-in-out infinite;
}
@keyframes textColor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
