:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter var", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

input[type="radio"]:checked {
  background-color: rgba(216, 125, 74, 1);
}

@layer components {
  .container-center {
    @apply container mx-auto md:w-2/3;
  }
  .absolute-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .secondary-btn {
    @apply border border-black bg-transparent text-black  hover:bg-[#000000] hover:text-white hover:transition;
  }
  .secondary-btn-inverse {
    @apply border border-black bg-black text-white  hover:bg-transparent  hover:text-black hover:transition;
  }
  .input-radio-checked {
    @apply checked:bg-buttonOrange checked:hover:bg-buttonOrange focus:bg-buttonOrange focus:outline-none focus:ring-1 focus:ring-buttonOrange checked:focus:bg-buttonOrange checked:active:bg-buttonOrange;
  }
}
