@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  zoom: 0.9; /* Old IE only */
  font-family: "Manrope", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

@layer components {
  .container-center {
    @apply container mx-auto md:px-40;
  }
}
