@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* Old IE only */
  /* zoom: 0.9;  */
  font-family: "Manrope", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

@layer components {
  .container-center {
    @apply container mx-auto md:w-2/3;
  }
  .absolute-center {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .trans-hover {
    @apply px-5 py-3 bg-transparent border border-black text-black tracking-wide uppercase hover:bg-[#000000] hover:text-white hover:transition;
  }
  .trans-hover-inverse {
    @apply px-5 py-3 bg-black border border-black text-white tracking-wide uppercase hover:bg-transparent  hover:text-black hover:transition;
  }
}
